*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

body{
 display: flex;
  flex-direction: column;
}
/* navbar */
.navbar {
  background: #111827;
  color: white;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
}

/* Links */
.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a,
#themeToggle {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

/* Hamburger */
.menu-btn {
  text-align: end;
  justify-content: end;
  display: none;
  font-size: 24px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background: #111827;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 15px 0;
  }

  .nav-links.show {
    display: flex;
  }
}


.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.main-content {
  flex: 1;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 18px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 12px;
}

button:hover {
  background: #1e40af;
}

/* for dark/light theme */

body {
  transition: 0.3s;
}

/* Dark mode */
.dark {
  background: #0f172a;
  color: white;
}

.dark nav {
  background: #020617;
}

.dark .card {
  background: #020617;
  color: white;
  border: 1px solid #1e293b;
}

.dark input,
.dark textarea {
  background: #020617;
  color: white;
  border: 1px solid #1e293b;
}

.dark .footer {
  background: #020617;
}


/* footer */
.footer {
  background: #111827;
  color: white;
  padding: 40px 20px;
  margin-top: 60px;
}

.footer-container {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.footer h3 {
  margin-bottom: 10px;
}

.footer p {
  color: #cbd5e1;
}

.footer-links {
  margin: 20px 0;
}

.footer-links a {
  color: #93c5fd;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer .copyright {
  margin-top: 20px;
  font-size: 14px;
  color: #9ca3af;
}

/* responsiveness */

@media (max-width: 768px) {

  .container {
    padding: 10px;
  }

  .card {
    width: 100%;
    margin-bottom: 15px;
  }

  nav {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .footer-links a {
    display: block;
    margin: 8px 0;
  }

  input, textarea, button {
    width: 100%;
    margin: 8px 0;
  }
}